@inherits UmbracoViewPage<ResponsiveImage>
@if (Model.Link is Link link)
{
  <a href="@link.Url" target="@link.Target" aria-label="@link.Name">
    <media src="Model.Image" height="Model.Height" width="Model.Width" caption="@(Model.Caption ? link.Name : null)" alt="@(Model.AltText.IfNullOrWhiteSpace(Model.Image?.Name))" lazyload="Model.LazyLoad"></media>
  </a>
}
else
{
  <media src="Model.Image" height="Model.Height" width="Model.Width" caption="@(Model.Caption ? Model.Image?.Name : null)" alt="@(Model.AltText.IfNullOrWhiteSpace(Model.Image?.Name))" lazyload="Model.LazyLoad"></media>
}
